.icon a{padding-right: 20px;}
            .icon a img{width: 20px; }
            .icon{display: flex; margin-left: 43%;margin-bottom: 5%; margin-top: 0%; padding-right: 20px;}
            .icon a{padding-right: 20px;}